/* TODO: remove anything that is going to be defined globally */

.component label div h2 {
  font-size: 2rem;
  margin: 1rem auto;
}

.component input {
  padding: 0.5rem;
  height: 1rem;
}

.component form label div {
  color: green;
}

.component form button {
  width: 2.3rem;
  height: 2.2rem;
  background-color: inherit;
  border: none;
}
